.slider{
    padding-top: 90px;
    position: relative;
    width: max-content;
    margin: auto;
    overflow: hidden;
}
.slider img{
    width: 1050px;
    height: 500px;
    display: none;
}
img.displaySlide{
    display: block;
    animation-duration: 1ms;
}
.slider button{
    position: absolute;
    top: 350px;
    transform: translateY(-50%);
    font-size: 40px;
    padding: 1px 5px;
    background-color: hsla(0, 0%, 0%, 0%);
    color: white;
    border: none;
    cursor: pointer;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
