
.container {
    display: flex;
    justify-content: flex-start; /* Align content to the left */
    padding-left: 0; /* Ensure no extra padding is added */
  }
  
  .content {
    flex-direction: column;
    gap: 1.25rem; /* Assuming gap-5 is equivalent to 1.25rem in Tailwind */
  }
  
  .icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .mr-2 {
    margin-right: 0.5rem; /* Assuming mr-2 is equivalent to 0.5rem in Tailwind */
  }
  
  .cart-photos {
    display: flex;
    gap: 1rem; /* Adjust the gap between photos as needed */
     /* Add some space above the photos */
  }
  
  .cart-photo {
    width: 300px; /* Set the desired width for the cart photos */
    height: 300px; /* Set the desired height for the cart photos */
    object-fit: cover; /* Ensure the photo covers the area without distortion */
    border-radius: 8px; /* Optional: Add some border-radius to make the corners rounded */
  }
  
  button {
    width: 7.5em;
    height: 2.5em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
   
   }
   
   button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #afafaf 1%, #ffffff 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   button:hover::before {
    width: 9em;
   }


